<link rel="stylesheet" href="/css/employeeDashboard.css">
<nav>
    <a href="#">Home</a>
    <a href="/employee/student">Student</a>
    <a href="/student/interview_list">Interview List</a>
    <a href="/job/list">Placement Cell</a>
    <a href="/employee/download">Download Data</a>
    <a href="/destroy_session">Sign Out</a>
</nav>
<section>
    <div>
        <h1>List Of All Student : </h1>
        <table>
            <tr>
                <th>SNo .</th>
                <th>Batch</th>
                <th>StudentName</th>
                <th>Email</th>
                <th>College</th>
                <th>Status</th>
                <th>DSA Final Score</th>
                <th>WebD Final Score</th>
                <th>React Final Score</th>
                <th>Action</th>
            </tr>
            <% for (var i=0 ; i< studentList.length ; i++ ){ %>
                <tr>
                    <td>
                        <%= i + 1 %>
                    </td>
                    <td>
                        <%= studentList[i].batch %>
                    </td>
                    <td>
                        <%= studentList[i].name %>
                    </td>
                    <td>
                        <%= studentList[i].email %>
                    </td>
                    <td>
                        <%= studentList[i].college %>
                    </td>
                    <td>
                        <%= studentList[i].status %>
                    </td>
                    <td>
                        <%= studentList[i].DSA_FinalScore %>
                    </td>
                    <td>
                        <%= studentList[i].WebD_FinalScore %>
                    </td>
                    <td>
                        <%= studentList[i].React_FinalScore %>
                    </td>
                    <td><button><a id="linkToAllocateInterview" href="/student/<%= studentList[i].id %>">Interview
                                Allocate</a></button></td>
                    <% } %>
                </tr>
        </table>

    </div>
</section>